body {
    font-family: Arial, serif;
    background-color: #333;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #7f2323;
    color: #ffffff;
    border-bottom: 2px solid #4f1616;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    color: #ffd700;
}

.search-signup {
    display: flex;
    align-items: center;
}

.search-signup input[type="search"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #cccccc;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

aside {
    flex: 1;
    margin-right: 20px;
    padding: 20px; 
    background-color: #7f2323; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    color: #fff;
}

aside h2, section h2, section h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #7f2323;
}

aside div {
    margin-bottom: 10px;
}

aside img {
    vertical-align: middle;
    margin-right: 10px;
}

aside input[type="number"] {
    width: 50px;
    border: 1px solid #cccccc;
}

section textarea {
    width: 100%;
    min-width: 1200px;
    max-width: 1300px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
}

.dice-tray {
    border: 1px solid #646464;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: #e0e0e0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #606060;
    color: #ffffff;
    border-top: 2px solid #727272;
}


