body {
    font-family: Arial, serif;
    background-color: #333;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #7f2323;
    color: #ffffff;
    border-bottom: 2px solid #4f1616;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    color: #ffd700;
}

.search-signup {
    display: flex;
    align-items: center;
}

.search-signup input[type="search"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #cccccc;
    color: #ffffff;
    background-color: #505050;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside, section {
    width: 80%;
    margin: 10px 0;
    background-color: #505050;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    color: #fff;
}

aside h2, section h2, section h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffd700;
}

aside div, section form {
    margin-bottom: 10px;
}

aside img {
    vertical-align: middle;
    margin-right: 10px;
}

aside input[type="number"], section textarea, section input[type="text"], section input[type="email"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #777;
    background-color: #404040;
    color: #fff;
}

aside input[type="number"]:focus, section textarea:focus, section input[type="text"]:focus, section input[type="email"]:focus {
    border-color: #ffd700;
    outline: none;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
    width: 100px;
    color: #ffffff;
}

input[type="text"], input[type="email"], textarea {
    flex-grow: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #777;
    background-color: #404040;
    color: #fff;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #ffd700;
    outline: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #404040;
    color: #ffffff;
    border-top: 2px solid #727272;
}


